.container {
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  background-color: #383838;
  border-radius: 2px;
  margin-bottom: 10px;
}

.videoPreviewLoading {
  position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: #838383;
  cursor: not-allowed;
}

.videoPreviewLoaded {
  position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.videoPlaying {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: #fff;
  cursor: pointer;

  img {
    height: 60%;
    opacity: 0.5;
  }
}

.videoProgressBar {
  position: absolute;
	bottom: 0; left: 0; right: 0;
  margin: 0 10px 0 10px;
  font-size: 5em;
  color: #fff;
  cursor: pointer;
}
